
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000 ;
  color: white;
  position: sticky;
  top: 0;
}
.header .search_container {
  position: relative;
  margin-left: 70px;
}

.header .search_input {
  width: 450px;
  padding: 17px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  font-size: 15px;
}

.header .search_icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 18px; 
}

.header .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  padding-left: 60px;
  margin-left: 40px;
   padding-top: 10px;
  color: white;
}
.lgo {
  padding: 7px;
}


.header ul {
  display: flex;
}

.header ul li {
 list-style: none; 
 padding-top: 14px;
 padding-right: 30px;
 font-weight: bold;

}

.header ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.header ul li a:not(.active):hover {
  background-color:#172554 ;
}

.header .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.header .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}
.logout {
  color: white;
  padding: 6px;
  font-weight: bold;
  /* position: absolute; */
}


@media (max-width: 700px) {
  .header .menu {
      display: flex;
      margin: 8px;
  }

  .header {
      flex-direction: column;
      align-items: flex-start;
      /* height: 70px; */
  }


  .header ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  .header ul.open {
      display: flex;
  }

  .header ul li {
      width: 100%;
      text-align: center;
  }

  .header ul li a {
      margin: 0.2rem 0.5rem;
  }
  .header .search_container {
    position: relative;
    /* margin-left: 70px; */
  }
  
  .header .search_input {
    width: 235px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;
    font-size: 14px;
    margin: 5px;
  }
  
  .header .search_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 12px; 
  }
  .header .title {
    font-size: 1.5rem;
    margin: 0.2rem;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    /* padding-left: 0px; */
    margin-left: 0
  
  }
  
}

 
