.footer { margin-top: 4%;
    height: 400px;
    background-color: #1d1d1d;
    display: flex;
    color: white;
    padding: 5% 7%;
    
   }
   .contact {
    border-right: 3px solid #fff;
    height: 300px;
    padding: 40px;
   }
   .contact p {
    font-size: 25px;
    margin: 0;
   }
   .useful_links {
    border-right: 3px solid #fff;
    height: 300px;
    padding: 40px 90px;
    padding-right: 150px;
    margin-left: 60px;
    text-align: center;
   }
   .products {
    height: 300px;
    padding: 40px 90px;
    text-align: center;
   }
   .input {
    height: 60px;
    width: 340px;
    border-radius: 10px;
    font-size: 23px;
    padding-left: 20px;
   }
   .icon {
    display: flex;
    list-style: none;
    padding: 15px;
    margin-left: 0;
   }
   .icon li {
    padding-right: 40px;
  
   }
   .links{
    padding-top: 30px;
   }
   .links li{
    padding-bottom: 30px ;
    text-align: center;
   }
   .link {
    list-style:  none;
    color: white;
    font-size: 30px;
    padding-bottom: 50px;
   }
  

   @media only screen and (max-width: 1200px) {
    .footer {
      padding: 70px 50px;
    }
  
    .contact,
    .useful_links,
    .products {
      padding: 20px;
    }
  
    .useful_links {
      padding-right: 90px;
    }
  
    .input {
      width: 300px;
    }
  
    .links li {
      padding: 15px 0;
    }
  
    .link {
      font-size: 25px;
      padding-bottom: 30px;
    }
  }
  
  
  @media only screen and (max-width: 992px) {
    .footer {
      padding: 60px 100px;
      flex-direction: column;
      height: 700px;
    }
    
    .useful_links {
      border-right: none;
      margin-left: 0;
      padding: 40px;
    }
  
    .products,
    .contact h2{
      margin: 0;
      padding: 0;
      
    }
    .contact {
        border:none;
        height: 300px;
        padding: 10px;
       }
       .contact p {
        font-size: 13px;
        margin: 0;
       }
       .useful_links {
        height: 300px;
        padding: 4px 10px;
        margin-left: 10px;
        text-align: center;
       }
       .link {
        list-style:  none;
        color: white;
        font-size: 20px;
       }
       .links li{
        padding-bottom: 4px ;
        text-align: center;
       }
       .products {
        height: 300px;
        padding: 10px 10px;
        text-align: center;
       }
       .input {
        margin-top: 10px;
        height: 30px;
        /* width: 100px; */
        border-radius: 5px;
        font-size: 16px;
        padding-left: 5px;
       }

       .icon {
        display: flex;
        list-style: none;
        padding: 5px;
        margin-left: 0;
       }
  
  }
  
  @media only screen and (max-width: 768px) {
    .footer {
      padding: 40px;
    }
  
    .input {
      width: 100%;
    }
  }
  