.head {
    width: 100%;
    height: 200px;
  }
  .head p {
    padding-top: 6%;
    padding-left: 7%;
    color: white;
  }
  .head1{
    text-align: center;
  }
 .head1 img {
  width: 96%;
  height: 450px;
 }

 @media (max-width: 768px) {
  .head p {
    padding-top: 25%;
    padding-left: 8%;
  }

  .head1 img {
    width: 95%;
    height: 170px;
  }
}