.head {
    width: 100%;
    height: 200px;
  }
  .head nav {
    padding-top: 4%;
    padding-left: 7%;
    color: white;
  }
  .images{
    display: flex;
    margin: 3% 10%;
  }
 .images img {
  padding-top: 15px;
  width: 730px;
  height: 560px;
 }
 .para {
  color: white;
  margin-left: 14%;
 }
 .para p {
  font-size: 23px;
  margin: 0;
  padding: 0;
 }
 
 
 @media only screen and (max-width: 992px) {
  .head nav {
    padding-left: 3%;
  }
  .images {
    display: flex;
    flex-direction: column;
  }

  .images img {
    padding: 0;
    width: 92%;
    height: 200px;
   }
  .para {
    color: white;
    margin-left: 7%;
   }
   .para p {
    font-size: 14px;
    margin: 0;
    padding: 0;
   }
}

@media only screen and (max-width: 768px) {
  .head nav {
    padding-left: 2%;
  }

  .para {
    margin-left: 3%;
  }
}